app:
  auth:
    provider: okta
  okta:
    issuer: {{{oktaIssuer}}}
    client-id: ${SPRING_ENV_OKTA_CLIENT_ID:your-client-id}
    audience: ${SPRING_ENV_OKTA_AUDIENCE:api://default}
    role-claim-key: {{{roleClaimKey}}}
    {{#tenantIdClaimKey}}
    tenant-claim-key: {{{tenantIdClaimKey}}}
    {{/tenantIdClaimKey}}
  users:
    root: ${SPRING_ENV_ROOT_USER:}
    admins: ${SPRING_ENV_ADMIN_USERS:}

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: {{{oktaIssuer}}}
          jwk-set-uri: {{{oktaIssuer}}}/v1/keys
